<script lang="ts" setup>
import { ref } from "vue";
const emotion = ref("Smile");
const imgsrc = ref("smile.png");
const active = ref();
const nonactive = ref(false);
const active1 = ref();
const nonactive1 = ref(false);
const active2 = ref();
const nonactive2 = ref(false);
const active3 = ref();
const nonactive3 = ref(false);
const active4 = ref();
const nonactive4 = ref(false);
const active5 = ref(true);
const nonactive5 = ref(false);

const changeEmotion1 = () => {
  imgsrc.value = "angry.png";
  emotion.value = "Angry";
  active.value = true;
  active1.value = false;
  active2.value = false;
  active3.value = false;
  active5.value = false;
};
const changeEmotion2 = () => {
  imgsrc.value = "cute.png";
  emotion.value = "Cute";
  active1.value = true;
  active.value = false;
  active2.value = false;
  active3.value = false;
  active5.value = false;
  active4.value = false;
};
const changeEmotion3 = () => {
  imgsrc.value = "excited.png";
  emotion.value = "Excited";
  active2.value = true;
  active1.value = false;
  active3.value = false;
  active4.value = false;
  active5.value = false;
  active.value = false;
};
const changeEmotion4 = () => {
  imgsrc.value = "pain.png";
  emotion.value = "Pain";
  active3.value = true;
  active.value = false;
  active1.value = false;
  active2.value = false;
  active4.value = false;
  active5.value = false;
};
const changeEmotion5 = () => {
  imgsrc.value = "shocked.png";
  emotion.value = "Shocked";
  active4.value = true;
  active.value = false;
  active1.value = false;
  active2.value = false;
  active3.value = false;
  active5.value = false;
};
const changeEmotion6 = () => {
  imgsrc.value = "smile.png";
  emotion.value = "Smile";
  active5.value = true;
  active.value = false;
  active1.value = false;
  active2.value = false;
  active3.value = false;
  active4.value = false;
};
</script>
<template>
  <v-container
    ><v-row>
      <v-col cols="6"><v-img :src="imgsrc" height="350px"></v-img></v-col>
      <v-col cols="6" align="center">
        <h1 class="mb-5">{{ emotion }}</h1>
        <v-row
          ><v-btn
            width="100%"
            class="mb-3"
            :class="{ active: active, nonactive: nonactive }"
            @click="changeEmotion1()"
            >Angry</v-btn
          >
          <v-btn
            width="100%"
            class="mb-3"
            :class="{ active: active1, nonactive: nonactive1 }"
            @click="changeEmotion2()"
            >CUTE</v-btn
          >
          <v-btn
            width="100%"
            class="mb-3"
            :class="{ active: active2, nonactive: nonactive2 }"
            @click="changeEmotion3()"
            >EXCITED</v-btn
          >
          <v-btn
            width="100%"
            class="mb-3"
            :class="{ active: active3, nonactive: nonactive3 }"
            @click="changeEmotion4()"
            >PAIN</v-btn
          >
          <v-btn
            width="100%"
            class="mb-3"
            :class="{ active: active4, nonactive: nonactive4 }"
            @click="changeEmotion5()"
            >SHOCKED</v-btn
          >
          <v-btn
            width="100%"
            class="mb-3"
            :class="{ active: active5, nonactive: nonactive5 }"
            @click="changeEmotion6()"
            >SMILE</v-btn
          >
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.active {
  background-color: yellow;
}

.nonactive {
  background-color: white;
}
</style>
