<script lang="ts" setup>
import { ref, computed } from "vue";
const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);
const orderList = ref<{ id: number; name: string; price: number }[]>([]);
const add = (item: { id: number; name: string; price: number }) => {
    orderList.value.push(item);
};
const sumPrice = computed(function () {
  return orderList.value.reduce((sum, item) => sum + item.price, 0);
});
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="6">
        <v-container class="fullscreen" fluid style="overflow-y: auto">
          <v-row>
            <v-col cols="12" md="4" v-for="(item, index) of products" :key="index">
              <v-card class="vcard" align="center" height="125px">
                <v-card-title>{{ item.name }}</v-card-title>
                <v-card-subtitle>{{ item.price }}</v-card-subtitle>
                <v-btn @Click="add(item)">ADD</v-btn>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
      <v-col cols="6">
        <v-container class="orderscreen" fluid style="overflow-y: auto" align="center"><v-table>
            <thead>
              <tr>
                <th>id</th>
                <th>name</th>
                <th>price</th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="orderList.length === 0">
                <td></td>
                <th style="text-align: center">NO Data</th>
              </tr>
              <tr v-for="(item, index) of orderList" :key="index">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
              </tr>
            </tbody>
          </v-table>
        </v-container>
        <h1 class="ma-6">SUM : {{ sumPrice }}</h1>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.fullscreen {
  width: 100vh;
  height: 80vh;
}
.orderscreen {
  width: 100vh;
  height: 70vh;
}

/* .center {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid green;
  width: 100%;
} */
</style>
