<script lang="ts" setup>
import { ref } from "vue";
import type { VForm } from "vuetify/components";
const input = ref(0);
// const newnum = ref(0);
const addNum = () => {
  list.value.splice(0, list.value.length);
  for (let i = 1; i <= input.value; i++) {
    list.value.push(i);
  }
};
const list = ref<number[]>([]);
</script>

<template>
  <v-container>
    <v-form>
      <v-text-field
        label="Please input Number"
        v-model="input"
        :rules="[(v) => !!v || 'Number is not empty!!']"
        :oninput="addNum"
        required
      >
      </v-text-field>
      <v-row>
        <v-col cols="12" md="1" v-for="item in list" :key="item">{{
          item
        }}</v-col>
      </v-row>
    </v-form>
  </v-container>
</template>
