<script setup lang="ts">
import FirstComponent from "@/components/FirstComponent.vue";
import SecondComponent from "@/components/SecondComponent.vue";
import { ref } from "vue";
const num = ref(0);

const count = ref(num);
function inc() {
  count.value++;
}
function dec() {
  if (num.value === 0) {
    return false;
  } else {
    count.value--;
  }
}
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="6" align="center">
        <FirstComponent :num="count" />
      </v-col>
      <v-col cols="6" align="center">
        <SecondComponent :num="count * 2" />
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="6" align="center">
        <v-btn @click="inc"> INCREMENT</v-btn>
      </v-col>
      <v-col cols="6" align="center">
        <v-btn @click="dec">DECREASE</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>
